Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# Add spash for end of url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) /index.php [L]

Options All -Indexes
DirectoryIndex index.php
AddDefaultCharset UTF-8 
DefaultLanguage ru
